[Desktop Entry]
Name[da]=Tidsplan
Name[de]=Khronos
Name[fr]=Khronos
Name[ja]=Khronos
Name[lt]=Tvarkaraštis
Name[nl]=Khronos
Name[pt]=Khronos
Name=Khronos
Comment[de]=Verfolgen Sie jede Aufgabenzeit auf einfache, unaufdringliche Weise
Comment[fr]=Suivez le déroulement de chaque tâche de manière simple et discrète
Comment[ja]=シンプルで目障りにならない方法で、タスクにかかった時間を計測しましょう
Comment[nl]=Houd de tijd van elke taak bij op eenvoudige, niet-storende wijze
Comment[pt]=Siga o tempo de cada tarefa de um modo simples e não intrusivo
Comment=Track each task time in a simple inobtrusive way
Exec=io.github.lainsce.Khronos
Icon=io.github.lainsce.Khronos
Keywords[de]=Plot;Planung;Zeiterfassung;
Keywords[fr]=Planing;Suivi du temps;
Keywords[ja]=Plot;Planning;Time Tracking;計画;プラン;時間管理;
Keywords[nl]=Bepaal;Week;Plannen;Tijdschema;
Keywords[pt]=Plot;Traçar;Planning;Planear;Time Tracking;Seguir Tempo;
Keywords=Plot;Planning;Time Tracking;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;
NoDisplay=false
