.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.kh-title {
  font-size: 400%;
  font-weight: 300;
}

.content-sidebar {
  border-radius: 8px;
}

.kh-tag {
  background: alpha(@view_fg_color, 0.1);
  border-radius: 8px;
  padding: 4px 12px;
}