@define-color accent_color #904db2;
@define-color accent_bg_color #5E147B;
@define-color accent_fg_color #E4B5FF;
@define-color accent_secondary_bg_color #4c4053;
@define-color accent_secondary_fg_color #EADAF4;
@define-color window_bg_color #111;
@define-color headerbar_bg_color #111;

.action-button.destructive-action {
  background: #8c1d18;
  color: #f2b8b5;
}
.action-button.destructive-action:hover {
  background: shade(#8c1d18, 1.02);
}
.action-button.destructive-action:active {
  background: shade(#8c1d18, 0.9);
}

.list-action-button.destructive-action {
  background: #8c1d18;
  color: #f2b8b5;
}
.list-action-button.destructive-action:hover {
  background: shade(#8c1d18, 1.02);
}
.list-action-button.destructive-action:active {
  background: shade(#8c1d18, 0.9);
}
