@define-color accent_color #904db2;
@define-color accent_bg_color #E4B5FF;
@define-color accent_fg_color #3c0050;
@define-color accent_secondary_bg_color #EADAF4;
@define-color accent_secondary_fg_color #211527;
@define-color window_bg_color #f2eff3;
@define-color view_bg_color #fefbff;
@define-color headerbar_bg_color #f2eff3;
@define-color popover_bg_color #fefbff;
@define-color popover_fg_color #1e1a1e;
@define-color window_fg_color #1e1a1e;
@define-color view_fg_color #1e1a1e;
@define-color headerbar_fg_color #1e1a1e;
@define-color borders alpha(#7d747e, 0.5);

.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.kh-title {
  font-size: 4rem;
  font-weight: 300;
}

headerbar {
  border-bottom: none;
  box-shadow: none;
}

.list-action-button {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 alpha(#151515, 0.3),
              0 4px 8px 3px alpha(#151515, 0.15);
}
.list-action-button:hover {
  box-shadow: 0 2px 3px 0 alpha(#151515, 0.3),
              0 6px 10px 4px alpha(#151515, 0.15);
}
.list-action-button:active {
  box-shadow: 0 1px 3px 0 alpha(#151515, 0.3),
              0 4px 8px 3px alpha(#151515, 0.15);
}
.accent-button {
  background: @accent_bg_color;
  color: @accent_fg_color;
  min-width:106px;
}
.accent-button:hover {
  background: shade(@accent_bg_color, 1.02);
}
.accent-button:active {
  background: shade(@accent_bg_color, 0.95);
}
.accent-secondary-button {
  background: @accent_secondary_bg_color;
  color: @accent_secondary_fg_color;
}
.accent-secondary-button:hover {
  background: shade(@accent_secondary_bg_color, 1.02);
}
.accent-secondary-button:active {
  background: shade(@accent_secondary_bg_color, 0.95);
}
.list-action-button.destructive-action {
  background: #f9dedc;
  color: #410e0b;
}
.list-action-button.destructive-action:hover {
  background: shade(#f9dedc, 1.02);
}
.list-action-button.destructive-action:active {
  background: shade(#f9dedc, 0.95);
}

.content-sidebar {
  background: @view_bg_color;
  border-radius: 8px;
}

.content-sidebar row {
  background: mix(@view_bg_color,@view_fg_color,0.05);
  border-radius: 8px;
  margin: 6px;
  margin-top: 3px;
}
.content-sidebar row:first-child {
  margin-top: 6px;
}

.content {
  box-shadow: none;
  margin: 0;
}
.kh-tag {
  background: mix(@view_bg_color,@view_fg_color,0.12);
  border-radius: 8px;
  padding: 8px;
}

.kh-bar box {
  border: none;
  box-shadow: none;
}
