@define-color colorAccent #9696d4;

.icon-shadow {
    -gtk-icon-shadow: 0px 0px 3px black;
    background-color: transparent;
    background-image: none;
    background: none;
}
.tt-column {
    background-color: shade (@bg_color, 1.05);
    border: 1px solid alpha(#000, 0.25);
    padding: 10px;
    border-radius: 4px;
}

.tt-box {
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 3px solid @colorAccent;
    background-color: mix (@colorAccent, #FFF, 0.7);
    color: shade (@colorAccent, 0.5);
    font-weight: 600;
    box-shadow:
        0 1px 3px alpha (shade (@colorAccent, 0.5), 0.12),
        0 1px 2px alpha (shade (@colorAccent, 0.5), 0.24);
}
.tt-box:backdrop {
    color: shade (@colorAccent, 0.88);
}
.tt-box:selected.activatable {
    color: shade (@colorAccent, 0.5);
}
.tt-box:selected.activatable:backdrop {
    color: shade (@colorAccent, 0.88);
}
.tt-box image {
    color: shade (@colorAccent, 0.5);
    -gtk-icon-shadow: none;
    border-image-width: 0;
    box-shadow: transparent;
}
.tt-box image:backdrop {
    color: shade (@colorAccent, 0.88);
}

.tt-button {
    background-image: linear-gradient(
        to bottom,
        shade (@bg_color, 1.05),
        shade (@base_color, 0.9)
    );
    border: 1px solid alpha(#000, 0.25);
    border-radius: 50px;
    padding: 5px;
}
.tt-button image {
    -gtk-icon-shadow: 0px 0px 0px transparent;
    border-image-width: 0;
    box-shadow: transparent;
}
.tt-button:focus,
.tt-button:hover {
    box-shadow:
        0 1px 3px alpha (@colorAccent, 0.24),
        0 1px 2px alpha (@colorAccent, 0.32);
}
.tt-button:active {
    background-image: linear-gradient(
        to bottom,
        shade (@base_color, 0.9),
        shade (@bg_color, 1.05)
    );
    border: 1px solid alpha(#000, 0.5);
}
