@define-color accent_color #9696d4;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.icon-shadow {
    -gtk-icon-shadow: 0px 0px 3px black;
    background-color: transparent;
    background-image: none;
    background: none;
}
.tt-column {
    background: mix (@accent_color, @base_color, 0.9);
    border-right: 1px solid alpha (black, 0.25);
    box-shadow: none;
    padding: 6px;
}

.tt-column list {
    background: mix (@accent_color, @base_color, 0.9);
}

.tt-box {
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: mix (@accent_color, #FFF, 0.5);
    color: shade (@accent_color, 0.5);
    font-weight: 600;
}
.tt-box:backdrop {
    color: shade (@accent_color, 0.88);
}
.tt-box:selected.activatable {
    color: shade (@accent_color, 0.5);
}
.tt-box:selected.activatable:backdrop {
    color: shade (@accent_color, 0.88);
}
.tt-box image {
    color: shade (@accent_color, 0.5);
    -gtk-icon-shadow: none;
    border-image-width: 0;
    box-shadow: transparent;
}
.tt-box image:backdrop {
    color: shade (@accent_color, 0.88);
}

.tt-button {
    margin: 8px 0;
    border-radius: 8px;
}

.tt-button image {
    padding: 0 6px;
}

.tt-button:focus,
.tt-button:hover {
    background: shade(@colorPrimary, 0.95);
}

.tt-label {
    font-size: 3rem;
}

.tt-toolbar {
    box-shadow: none;
    border-bottom: 1px solid alpha (black, 0.25);
}
